*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: #0c192c;
}
.conteiner{
    position: relative;
    width: 100%;
    min-height: 100vh;
}
.bolhas{
    position: absolute;
    display: flex;
}

.bolhas span{
    width: 30px;
    height: 30px;
    background: #e5ff00;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #e5ff0044,0 0 50px #e5ff00,0 0 100px #e5ff00;
    animation: identifier calc(40s / var(--i)) linear infinite ;
}

@keyframes identifier {
     0%{
        transform: translateY(99vh) scale(0)
    }
    100%{
        transform: translateY(-5vh) scale(1)
    }
}
   

.bolhas span:nth-of-type(even){
    background: #2dc3ff;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #2dc3ff44,0 0 50px #2dc3ff,0 0 100px #2dc3ff;
}